################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WeatherService
/WeatherService/bin/Debug/net5.0
/WeatherService/obj
/WeatherService/bin/Debug/netcoreapp3.1
